//--------
// Mixin for managing columns within a grid system.
// See: https://github.com/Xaxis/fluid-grid
//
// @cols              Number of columns in a row
// @mod               Width in terms of a 12 column grid ratio
// $break             Screen width at which column structures respond
// @fixed-gutter      Fixed gutter pixel width default
// @fluid-gutter      Fluid gutter percentage width default
// @gutter-type       Type of gutter to use (`fixed` or `fluid`) default
// @no-gutter         Boolean value that specifies whether a gutter is used
@mixin fg-col(
  $cols: 1,
  $mod: 0,
  $break: 0,
  $fixed-gutter: 20px,
  $fluid-gutter: 2.0,
  $gutter-type: 'fluid',
  $no-gutter: false
) {


  // Default column styling
  & {
    box-sizing: border-box;
    position: relative;
    float: left;
  }
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  &:first-child {
    margin-left: 0;
  }


  // Fixed width gutter ENABLED default gutter width
  @if $gutter-type == 'fixed' {
    margin-left: $fixed-gutter;
  }

  // Fixed width gutter DISABLED default gutter width
  @else if $gutter-type == 'fluid' {
    margin-left: #{$fluid-gutter + '%'};
  }


  // Equal width columns
  @if $mod == 0 {

    // Fixed width gutter ENABLED
    @if $gutter-type == 'fixed' {

      // Gutters are OFF
      @if $no-gutter == true {
        width: -webkit-calc((100% / #{$cols}));
        width: calc((100% / #{$cols}));
        margin-left: 0;
      }

      // Gutters are ON
      @else {
        width: -webkit-calc(((100% / #{$cols}) - #{$fixed-gutter}) + (#{$fixed-gutter / $cols}));
        width: calc(((100% / #{$cols}) - #{$fixed-gutter}) + (#{$fixed-gutter / $cols}));
      }
    }

    // Fluid width gutter DISABLED
    @else if $gutter-type == 'fluid' {
      $ucw: (100 / $cols);
      $cw: 0;
      @if $cols == 1 or $no-gutter == true {
        $cw: $ucw;
        margin-left: 0;
      } @else {
        $cw: $ucw - $fluid-gutter + ($fluid-gutter / $cols);
      }
      width: #{$cw + '%'};
    }
  }


  // 12 column width columns
  @else if $mod {
    $mw: 0;

    // 1/12 width
    @if $mod == 1 {
      $mw: 8.3;
    }
    // 2/12 width
    @if $mod == 2 {
      $mw: 16.6666666667;
    }
    // 3/12 width
    @if $mod == 3 {
      $mw: 25;
    }
    // 4/12
    @if $mod == 4 {
      $mw: 33.3333;
    }
    // 5/12
    @if $mod == 5 {
      $mw: 41.66;
    }
    // 6/12
    @if $mod == 6 {
      $mw: 50;
    }
    // 7/12
    @if $mod == 7 {
      $mw: 58.33;
    }
    // 8/12
    @if $mod == 8 {
      $mw: 66.6666;
    }
    // 9/12
    @if $mod == 9 {
      $mw: 75;
    }
    // 10/12
    @if $mod == 10 {
      $mw: 83.3333333333;
    }
    // 11/12
    @if $mod == 11 {
      $mw: 91.7;
    }
    // 12/12
    @if $mod == 12 {
      $mw: 100;
    }

    // Fixed width gutter ENABLED
    @if $gutter-type == 'fixed' {

      // Gutters are OFF
      @if $no-gutter == true or $mod == 12 {
        width: -webkit-calc(#{$mw + '%'});
        width: calc(#{$mw + '%'});
        margin-left: 0;
      }

      // Gutters are ON
      @else {
        width: -webkit-calc((#{$mw + '%'} - #{$fixed-gutter}) + (#{$fixed-gutter / $cols}));
        width: calc((#{$mw + '%'} - #{$fixed-gutter}) + (#{$fixed-gutter / $cols}));
      }
    }

    // Fluid width gutter enabled
    @else if $gutter-type == 'fluid' {
      $ucw: $mw / 100;
      $cw: 0;
      @if $mod == 12 or $no-gutter == true {
        $cw: $ucw * 100;
        margin-left: 0;
      } @else {
        $cw: ($ucw * 100) - $fluid-gutter + ($fluid-gutter / $cols);
      }
      width: #{$cw + '%'};
    }
  }
}





////--------
//// Fluid-grid base classes (standard fractions)
//@for $i from 1 through 8 {
//  .col:first-child:nth-last-child(#{$i}),
//  .col:first-child:nth-last-child(#{$i}) ~ .col {
//    &:not(.col-with-gutter) {
//      @include fg-col($gutter: 0, $cols:$i, $mod:0, $class:1);
//    }
//    &.col-with-gutter {
//      @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:0, $class:1);
//    }
//    &.grid-1-8 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/8', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/8', $class:1);
//      }
//    }
//    &.grid-1-7 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/7', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/7', $class:1);
//      }
//    }
//    &.grid-1-6 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/6', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/6', $class:1);
//      }
//    }
//    &.grid-1-5 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/5', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/5', $class:1);
//      }
//    }
//    &.grid-1-4 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/4', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/4', $class:1);
//      }
//    }
//    &.grid-1-3 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/3', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/3', $class:1);
//      }
//    }
//    &.grid-2-5 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'2/5', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'2/5', $class:1);
//      }
//    }
//    &.grid-1-2 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/2', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/2', $class:1);
//      }
//    }
//    &.grid-3-5 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'3/5', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'3/5', $class:1);
//      }
//    }
//    &.grid-2-3 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'2/3', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'2/3', $class:1);
//      }
//    }
//    &.grid-3-4 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'3/4', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'3/4', $class:1);
//      }
//    }
//    &.grid-4-5 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'4/5', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'4/5', $class:1);
//      }
//    }
//    &.grid-7-8 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'7/8', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'7/8', $class:1);
//      }
//    }
//  }
//}
//
//
////--------
//// Fluid-grid base classes (12 grid fractions)
//// See: https://github.com/Xaxis/fluid-grid
//@for $i from 1 through 12 {
//
//  // Generate breakpoint classes
//  &.grid-bp-#{$i} {
//    $bw: ($i / 12) * $break-lg;
//    @include site-bp($bp: $bw) {
//
//      // When css calc() and NOT css calc()
//      html.csscalc &, html:not(.csscalc) & {
//        width: 100% !important;
//        margin-left: 0 !important;
//      }
//    };
//  }
//
//  // Generate column classes
//  .col:first-child:nth-last-child(#{$i}),
//  .col:first-child:nth-last-child(#{$i}) ~ .col {
//
//    // Default - equal width column sizes
//    &:not(.col-with-gutter) {
//      @include fg-col($gutter: 0, $cols:$i, $mod:0, $class:1);
//    }
//    &.col-with-gutter {
//      @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:0, $class:1);
//    }
//
//    // Grid column sizes
//    &.grid-1-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'1/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'1/12', $class:1);
//      }
//    }
//    &.grid-2-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'2/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'2/12', $class:1);
//      }
//    }
//    &.grid-3-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'3/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'3/12', $class:1);
//      }
//    }
//    &.grid-4-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'4/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'4/12', $class:1);
//      }
//    }
//    &.grid-5-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'5/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'5/12', $class:1);
//      }
//    }
//    &.grid-6-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'6/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'6/12', $class:1);
//      }
//    }
//    &.grid-7-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'7/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'7/12', $class:1);
//      }
//    }
//    &.grid-8-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'8/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'8/12', $class:1);
//      }
//    }
//    &.grid-9-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'9/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'9/12', $class:1);
//      }
//    }
//    &.grid-10-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'10/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'10/12', $class:1);
//      }
//    }
//    &.grid-11-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'11/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'11/12', $class:1);
//      }
//    }
//    &.grid-12-12 {
//      &:not(.col-with-gutter) {
//        @include fg-col($gutter: 0, $cols:$i, $mod:'12/12', $class:1);
//      }
//      &.col-with-gutter {
//        @include fg-col($gutter: $grid-gutter, $fluid-gutter: $grid-fluid-gutter, $cols:$i, $mod:'12/12', $class:1);
//      }
//    }
//  }
//}